@use '../mixin/mixin' as mixin;

aside {
    display: flex;
    font-size: 20px;

    article {
        margin: 20px 10px;
        padding: 10px;
        border: 2px solid black;

        .j-admin__title {
            text-align: center;
            background-color: var(--blue);
            padding: 5px;
        }

        .j-admin__list {
            margin-top: 10px;
        }

        .j-admin__text {
            padding: 10px 0;
        }
    }
}

table {
    border: 1px solid var(--black);
    padding: 20px;

    tr {
        background-color: var(--blue);
        padding: 10px;

        td {
            padding: 5px;
            font-size: 18px;
        }
    }
}