<footer class='bg-primary py-2 text-center text-light fixed-bottom'>
	<p class="footerContent">© Sonkes Audrey Copyright 2024 - Dans le cadre d’un Exercice</p>
	<script type="text/javascript">
		var _iub = _iub || [];
_iub.csConfiguration = {
"askConsentAtCookiePolicyUpdate": true,
"floatingPreferencesButtonCaptionColor": "#FFFFFF",
"floatingPreferencesButtonColor": "#029AB8",
"floatingPreferencesButtonDisplay": "bottom-right",
"lang": "fr",
"perPurposeConsent": true,
"siteId": 3680539,
"whitelabel": false,
"cookiePolicyId": 18385874,
"floatingPreferencesButtonCaption": true,
"banner": {
"acceptButtonDisplay": true,
"closeButtonDisplay": false,
"customizeButtonDisplay": true,
"explicitWithdrawal": true,
"listPurposes": true,
"ownerName": "jacadi.audrey-sonkes.be",
"position": "float-top-center",
"rejectButtonDisplay": true,
"showTitle": false,
"showTotalNumberOfProviders": true
}
};
	</script>
	<script type="text/javascript" src="https://cs.iubenda.com/autoblocking/3680539.js"></script>
	<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>

</footer>
