<footer class='bg-primary py-2 text-center text-light fixed-bottom'>
	<p class="footerContent">© Sonkes Audrey Copyright 2024 - Dans le cadre d’un Exercice</p>
	<a href="https://www.iubenda.com/privacy-policy/18385874" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Politique de confidentialité ">Politique de confidentialité</a>
</footer>
