<header>
	<div class="j-headerContent">
		<div></div>
		<nav>
			<ul>
				<li>
					<a href="{{ path('home') }}">Accueil</a>
				</li>
				<li class="j-sousMenu">
					<a href="#">Bébé</a>
					<ul>
						<li><a href="#">Fille</a></li>
						<li><a href="#">Garçon</a></li>
					</ul>
				</li>
				<li class="j-sousMenu">
					<a href="#">Enfant</a>
					<ul>
						<li><a href="#">Fille</a></li>
						<li><a href="#">Garçon</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Coup de Coeur</a>
				</li>
				<li>
					<a href="#">Notre Univers</a>
				</li>
				<li>
					<a href="#">Contact</a>
				</li>
			</ul>
		</nav>
		<div>
			<a>
				<img class="j-accountIcon" src="{{ asset('images/Business-Man-Add-02-256.png')}}">
			</a>
		</div>
	</div>
</header>
