{% extends 'base.html.twig' %}

{% block title %}Jacadi - Gestion des produits
{% endblock %}

{% block body %}

	<section class="j-section js-page-content">
		<div class="j-homeCover" style="background-image: url('{{ asset('images/backgroundImages/doudou.webp') }}')">
			<img class="j-homeLogo" src="{{ asset('images/Logo/Logo.png')}}">
		</div>

		<div class="j-resetPassword" style="background-image: url('{{ asset('images/backgroundImages/ciment-texture_1194-6501.webp') }}')">

			<div class="j-resetPassword__form">
				<div class="j-form" method="post">
					<h3 class="j-form__h3">Gestion des produits - Dashboard</h3>
				</div>
			</div>
		</section>
	{% endblock %}
