@use '../mixin/mixin' as mixin;

.j-homeCover {
    max-width: 100%;
    height: 48vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .j-homeLogo {
        position: absolute;
        max-width: 280px;
        width: 280px;
        height: auto;
        top: 32%;
        right: 45%;
        transform: translate(50%, -50%);
        z-index: 2;

        @include mixin.xl-lt {
            max-width: 250px;
            width: 250px;
            top: 35%;
        }

        @include mixin.lg {
            max-width: 220px;
            width: 220px;
        }

        @include mixin.md-lt {
            max-width: 200px;
            width: 200px;
        }

        @include mixin.md {
            top: 37%;
        }
    }
}

.j-home {
    margin: -50px auto 30px auto;

    @include mixin.md {
        margin: -30px auto 30px auto;
    }

    .j-homeGrid {
        margin: 0 auto;
        flex-direction: column;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        padding: 80px 0 30px 0;
        opacity: 0;
        transition: opacity 1s ease-in-out;

        &.active {
            opacity: 1;
        }

        @include mixin.xl-lt {
            max-width: 85%;
            grid-gap: 20px;
        }

        @include mixin.xl {
            max-width: 95%;
            grid-gap: 10px;
        }

        @include mixin.lg-lt {
            max-width: 60%;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
        }

        @include mixin.md-lt {
            max-width: 70%;
        }

        @include mixin.md {
            max-width: 80%;
        }

        @include mixin.sm-lt {
            grid-template-columns: repeat(1, 1fr);
            max-width: 55%;
        }

        @include mixin.sm {
            max-width: 65%;
        }
    }
}