@use '../mixin/mixin' as mixin;

.j-notreUnivers {
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixin.lg-lt {
        max-width: 100%;
    }

    .j-notreUnivers-grid {
        grid-template-columns: 0.9fr 1.1fr;
        grid-template-rows: 1fr;
        margin: 60px auto 0 auto;
        gap: 30px;
        position: relative;

        @include mixin.xl-lt {
            max-width: 95%;
        }

        @include mixin.lg-lt {
            max-width: 85%;
        }

        @include mixin.lg {
            max-width: 95%;
            grid-template-columns: 1fr 1fr;
        }

        @include mixin.md {
            grid-template-columns: 1fr;
        }

        .j-gallery__item1 {
            max-width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            margin: 50px 0 0 0;

            @include mixin.xl-lt {
                margin: 45px 0 0 95px;
            }

            @include mixin.md-lt {
                margin: 10px 0 0 55px;
            }

            @include mixin.md {
                margin: 10px auto 0 auto;
                max-width: 50%;
            }

            @include mixin.sm-lt {
                max-width: 60%;
            }

            .j-item1__media {
                max-width: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: rotate(-30deg);

                @include mixin.md {
                    transform: rotate(0deg);
                }
            }
        }

        .j-gallery__item2 {
            max-width: 100%;
            text-align: center;

            .j-item2__contentParent {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: start;
                align-items: center;

                @include mixin.md {
                    justify-content: center;
                }

                .j-item2__content {
                    max-width: 100%;
                    background-color: var(--gray);
                    border-radius: 25px;
                    filter: drop-shadow(0 0 0.4rem var(--darkGray));

                    @include mixin.md {
                        max-width: 70%;
                    }

                    .j-item2__title {
                        font-family: var(--font-family2);
                        font-size: 25px;
                        font-style: italic;
                        font-weight: bolder;
                        padding: 20px;
                        color: var(--blue2);

                        @include mixin.md-lt {
                            font-size: 20px;
                        }

                        @include mixin.md {
                            font-size: 18px;
                        }
                    }

                    .j-item2__text {
                        font-family: var(--font-family3);
                        font-size: 17px;
                        font-style: italic;
                        padding: 0 5px 10px 5px;

                        @include mixin.md-lt {
                            font-size: 15px;
                        }

                        @include mixin.md-lt-lt {
                            font-size: 14px;
                        }

                        @include mixin.md {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .j-notreUnivers-grid2 {
        grid-template-columns: 0.7fr 1.3fr;
        grid-template-rows: 1fr;
        margin: 0 auto 60px auto;
        gap: 30px;

        @include mixin.xl-lt {
            max-width: 95%;
        }

        @include mixin.lg-lt {
            max-width: 85%;
        }

        @include mixin.lg {
            width: 95%;
            grid-template-columns: 1fr;
            margin: 50px auto 60px auto;
            gap: 0;
        }

        @include mixin.md {
            margin: -30px auto 15px auto;
        }

        .j-gallery__item3 {
            max-width: 100%;
            height: 100%;

            .j-item3__content {
                max-width: 100%;
                height: 100%;
                display: flex;
                align-items: end;
                justify-content: center;
                text-align: center;

                @include mixin.lg {
                    justify-content: start;
                }

                @include mixin.md {
                    justify-content: center;
                }

                .j-item3__blockquote {
                    max-width: 100%;
                    background-color: var(--gray);
                    filter: drop-shadow(0 0 0.4rem var(--darkGray));
                    border-radius: 25px;
                    padding: 20px 5px;

                    @include mixin.lg {
                        max-width: 35%;
                        margin: -50px 0 0 0;
                        padding: 10px 5px;
                    }

                    @include mixin.md {
                        max-width: 45%;
                    }

                    @include mixin.sm-lt {
                        max-width: 55%;
                    }

                    .j-item3__text,
                    .j-item3__footer {
                        max-width: 100%;
                        font-size: 18px;
                        font-style: italic;

                        @include mixin.md-lt {
                            font-size: 16px;
                        }

                        @include mixin.md-lt {
                            font-size: 14px;
                        }
                    }

                    .j-item3__text {
                        font-family: var(--font-family3);
                        font-weight: 500;
                        color: var(--blue2);
                    }

                    .j-item3__footer {
                        font-family: var(--font-family2);
                        font-weight: 600;
                        padding: 10px 5px;
                    }
                }
            }
        }

        .j-gallery__item4 {
            max-width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;

            @include mixin.lg {
                order: -1;
            }

            .j-item4__mediaParent {
                max-width: 100%;
                width: 100%;
                height: 100%;

                @include mixin.lg {
                    display: flex;
                    justify-content: end;
                }

                @include mixin.lg {
                    justify-content: center;
                }

                .j-item4__media1,
                .j-item4__media2 {
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    @include mixin.lg {
                        max-width: 80%;
                    }

                    @include mixin.md-lt-lt {
                        max-width: 85%;
                    }

                    @include mixin.sm-lt {
                        max-width: 95%;
                    }
                }

                .j-item4__media1 {
                    margin: -30px 0 0 -20px;

                    @include mixin.lg {
                        margin: -15px 0 0 -20px;
                    }

                    @include mixin.md {
                        margin: 0;
                    }
                }
            }
        }
    }
}