* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
.j-section {
    max-width: 100%;
    min-height: 100vh;

    .j-ballon {
        max-width: 100%;
        max-height: 100%;
        position: fixed;
        right: 10px;
        bottom: 0px;
        z-index: 999;
        //background-color: red;

        .j-ballonContainer {
            width: 80px;
            height: 103px;
            //background-color: orange;
        }
    }
}