@use '../styles/mixin/mixin' as mixin;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
.j-section {
    max-width: 100%;
    min-height: 100vh;

    .j-ballon {
        max-width: 100%;
        max-height: 100%;
        position: fixed;
        right: 10px;
        bottom: 0px;
        z-index: 999;

        &.hidden {
            display: none;
        }

        .j-ballonContainer {
            width: 80px;
            height: 103px;
        }
    }

    .j-ballon1 {
        max-width: 100%;
        max-height: 100%;
        position: fixed;
        right: 10px;
        bottom: 0px;
        z-index: 999;
        display: none;

        &.hidden {
            display: block;
        }

        .j-ballonContainer1 {
            //width: 80px;
            height: 103px;
        }
    }
}

.j-home,
.j-coupDeCoeur,
.j-notreUnivers,
.j-products,
.j-articles {
    max-width: 75%;
    //filter: drop-shadow(0 0 0.1rem var(--darkGray));
    border: 1px solid var(--gray);

    @include mixin.lg-lt {
        max-width: 100%;
    }
}

.j-homeGrid,
.j-coupDeCoeur-grid,
.j-notreUnivers-grid,
.j-notreUnivers-grid2,
.j-productsGrid,
.j-articlesGrid {
    max-width: 75%;
    display: grid;
}