@use '../styles/mixin' as mixin;

header {
    font-family: var(--font-family1);
    position: fixed;
    width: 100%;
    margin-top: 25px;

    .j-headerContent {
        display: flex;
        justify-content: space-evenly;

        @include mixin.lg {
            display: none;
        }

        nav ul {
            display: flex;
            flex-direction: row;
            justify-content: center;

            li {
                list-style: none;
                position: relative;

                a {
                    list-style: none;
                    text-decoration-line: none;
                    padding: 10px 35px;
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    color: var(--white);

                    @include mixin.lg-lt {
                        padding: 10px 20px;
                    }

                    @include mixin.lg {
                        padding: 10px 15px;
                    }

                    &:hover {
                        text-decoration-line: underline;
                        text-decoration-color: var(--brun);
                        text-decoration-thickness: 2px;
                        text-underline-offset: 8px;
                    }
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    display: none;
                    position: absolute;
                    top: 25px;
                    left: 0;

                    li {
                        margin-top: 25px;
                    }
                }
            }
        }
    }
}

.j-sousMenu:hover ul {
    display: block;
}

.j-accountIcon {
    height: 41px;
    margin: -8px;
    cursor: pointer;

    @include mixin.lg-lt {
        height: 35px;
    }

    @include mixin.md-lt {
        height: 30px;
    }
}