@use '../styles/mixin' as mixin;

.j-burger {
    width: 100%;
    display: none;

    @include mixin.lg {
        display: block;
        width: 100%;
        position: fixed;
        z-index: 9999;
    }

    .j-burger-icon {
        width: 100%;
        padding: 0 0 15px 0;
        background-color: var(--blue);
        opacity: 92%;

        .j-burger-iconContainer {
            width: 45px;
            height: 50px;
            position: relative;
            top: 10px;
            left: 30px;
            cursor: pointer;

            span {
                display: block;
                width: 100%;
                height: 3px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: var(--white);
                transition: background-color 0.5s easy-in-out;

                &:before,
                &:after {
                    content: '';
                    width: 100%;
                    height: 3px;
                    position: absolute;
                    background-color: var(--white);
                    transition: transform 0.5s ease-in-out;
                }

                &:before {
                    transform: translateY(-15px);
                }

                &:after {
                    transform: translateY(15px);
                }
            }
        }

        .j-burger-iconContainer.active span {
            background-color: transparent;

            &:before {
                transform: translateY(0px) rotate(45deg);
            }

            &:after {
                transform: translateY(0px) rotate(-45deg);
            }
        }
    }

    .j-burger-nav {
        width: 100%;
        position: absolute;
        top: 65px;
        left: 0;
        background-color: var(--blue);
        opacity: 92%;
        z-index: 9999;
        display: none;

        ul {
            width: 100%;
            height: 100%;
            list-style: none;
            text-align: center;

            li {
                width: 100%;
                height: 75px;
                display: flex;
                align-items: center;

                &:hover {
                    text-decoration: underline var(--brun);
                    border: 1px solid var(--brun);
                    letter-spacing: 1px;
                    text-decoration-thickness: 2px;
                    text-underline-offset: 8px;
                }

                a {
                    display: block;
                    width: 100%;
                    text-decoration-line: none;
                    font-family: var(--font-family1);
                    font-size: 20px;
                    font-weight: bold;
                    color: black;
                }
            }
        }
    }

    .j-burger-nav.active {
        display: block;
    }
}