:root {
    --blue: #98e2f4;
    --blue2: #59AFBE;
    --orange: #FDBC72;
    --gray: #EEEEEE;
    --white: #FFFFFF;
    --black: #000000;
    --font-family1: 'Cascadia Code', sans-serif;
    --font-family2: 'Ink Free', sans-serif;
}