:root {
    --blue: #98e2f4;
    --blue2: #59AFBE;
    --blueDark: #029AB8;
    --brun: #785B5D;
    --brunLight: #bbaeaf;
    --gray: #EEEEEE;
    --grayLight: #ebebeb;
    --darkGray: #898888;
    --white: #FFFFFF;
    --black: #000000;
    --font-family1: 'Cascadia Code', sans-serif;
    --font-family2: 'Ink Free', sans-serif;
    --font-family3: 'Raleway', sans-serif;
    --font-family4: 'Comic Sans MS';
}