{% extends 'base.html.twig' %}

{% block title %}Jacadi - Connexion
{% endblock %}

{% block body %}

	<section class="j-section js-page-content">
		<div class="j-error" style="background-image: url('{{ asset('images/backgroundImages/ours-peluche-assis-tenant-balle-dans-ses-mains-croquis-dessines-main-vieux-jouet-vintage_666729-776.jpg') }}')">
			<p class="j-error__text ">Oups, nous sommes désolés, cette page est introuvable.</p>
		</div>
	</section>
{% endblock %}
