@use '../mixin/mixin' as mixin;

.j-cart {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family2);
    font-size: 16px;

    @include mixin.md {
        font-size: 16px;
    }

    .j-cart__h3 {
        font-family: var(--font-family2);
        font-size: 40px;
        text-align: center;
        padding: 20px;
    }

    .j-cartGrid {
        max-width: 100%;
        min-height: 100%;
        grid-template-columns: repeat(2, 1fr);

        .j-cartGrid__item1 {
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--black);
        }

        .j-cartGrid__item2 {
            max-width: 100%;
            background-color: var(--blue);
            border: 1px solid var(--black);

            .j-cartGrid__text {
                padding: 5px;
            }

            .j-cartGrid__button {
                max-width: 100px;
                display: flex;
                flex-direction: column;
                text-align: center;
            }
        }
    }

    .j-cartGrid__item3 {
        max-width: 100%;
        display: flex;
        align-items: center;
        margin: 30px 0;
        border: 4px solid var(--black);
        background-color: var(--blue);

        .j-cartGrid__text2 {
            width: 34%;
            padding: 15px;
            background-color: var(--blue);
        }
    }
}

span {
    text-decoration: underline;
    font-weight: bold;
}

.span2 {
    text-decoration: none;
    color: var(--blue);
}

.j-cart__button,
.j-cart__button2 {
    width: 80px;
    background-color: #785B5D;
    color: var(--white);
    padding: 4px;
    border-radius: 25px;
    text-decoration: none;
    margin: 5px 5px;
    border: none;
    cursor: pointer;
}

.j-cart__button2 {
    padding: 10px;
}